body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://i.pinimg.com/originals/54/41/bb/5441bbda8700540e9263864235b213e0.jpg);
}

#nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
  }
  li {
      display: inline;
      margin-right: 20px;
  }

  a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: #333;
}

:root {
--background-color: rgba(255, 255, 255, 0.8);
--header-color: #333;
--text-color: #666;
--transition-duration: 0.6s;
transition: background-color var(--transition-duration), color var(--transition-duration);
}

.dark-mode {
--background-color: rgba(37, 37, 37, 0.8);
--header-color: #fff;
--text-color: #ccc;
--table-bg: rgba(37, 37, 37, 0);
--table-text: #ccc;
--form-bg: rgba(37, 37, 37, 0);
--form-text: #000;
--form-label: #fff;
--textarea: #4d4d4d;
}

main {
  text-align: center;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: background-color var(--transition-duration);
  
  h1 {
      font-size: 36px;
      color: var(--header-color);
      transition: color var(--transition-duration);
  }
  
  p {
      font-size: 18px;
      line-height: 1.6;
      color: var(--text-color);
      transition: color var(--transition-duration);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-bg);
  
  th {
      border-bottom: 3px solid rgb(123, 123, 123);
      color: var(--table-text);
  }
  
  td {
      padding: 10px;
      border-bottom: 3px solid rgb(123, 123, 123);
      color: var(--table-text);
  }
}

#img {
  width: 230px;
  height: 150px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--form-bg); /* Apply dark mode background color */
  
  label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      width: 100%;
      color: var(--form-label);
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  textarea {
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      background-color: var(--textarea);
      color: var(--form-text);
  }
  
  button {
      background-color: gray;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      text-decoration: none;
      text-align: center;
      transition: background-color 0.3s;
      
      a {
          text-decoration: none;
          color: #fff;
      }
      
      & + button {
          background-color: #ccc;
      }
      
      &:hover {
          background-color: darken(gray, 10%);
      }
      
      button[type="submit"] {
          margin-top: 1rem;
      }
  }
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: rgb(192, 192, 192);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darken(rgb(192, 192, 192), 10%);
}
